body {
  background-color: #f2f2f2;
  font-family: "Lato";
  font-weight: 300;
  font-size: 16px;
  color: #555;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  margin-top: 80px;
}


.topbar {
  background: #18355A;
  color: #ffffff;
}

.top-bar {
  background: #ffffff;
  height: 45px;
  line-height: 45px;
  margin-top: 30px;
  position: relative;
}

.top-bar-section a {
  background: #ffffff !important;
  text-transform: uppercase;
}

.top-bar-section .dropdown {
  border-top: 2px solid #000
}

.top-bar-section .dropdown li a {
  color: #696E74;
  font-size: 13px;
  text-transform: none;
  border-top: none
}

.top-bar-section ul li.active>a, .top-bar-section ul li>a {
  color: #2B2E31;
  font-weight: 400;
}

#headerwrap {
  background: url(../img/bookpro.jpg) no-repeat center top;
  margin-top: 10px;
  padding-top: 24px;
  text-align: center;
  background-attachment: relative;
  background-position: center center;
  min-height: 600px;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

#headerwrap h1 {
  margin-top: 100px;
  color: white;
  font-size: 70px;
  font-weight: 300;
  letter-spacing: 3px;
  font-family: 'Roboto Slab', Arial, sans-serif;
}

#headerwrap h2 {
  color: white;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

@media (max-width: 768px ) {
  #headerwrap h1 {
    font-size: 50px;
  }

  #headerwrap h2 {
    font-size: 30px;
  }
}

.navbar {
  font-weight: 800;
  font-size: 14px;
  padding-top: 15px;
  padding-bottom: 15px;

}

.navbar-inverse {
  background: #2d2d2d;
  border-color: #2d2d2d;
}

.navbar-inverse .navbar-nav>.active>a {
  background: #ff7878
}

.navbar-inverse .navbar-brand {
  color: #999999;
  font-weight: bolder;
  font-size: 22px;
  letter-spacing: 1px;
}

.navbar-inverse .navbar-brand i {
  color: #ff7878;
  font-size: 22px;
  letter-spacing: 1px;
}

.slideshow-wrapper {
  background: #F5F5F5;
  border-top: 1px solid #E5E4E4;
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', Arial, sans-serif;
  font-weight: 700;
}

h5 {
  font-weight: 400;
  margin-top: 40px;
}

p {
  padding: 0;
  margin-bottom: 12px;
  font-family: 'Roboto Slab', Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 24px;
  color: #696E74;
  margin-top: 10px;
}

html, body {
  height: 100%;
}

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

.aligncenter {
  margin-left: auto;
  margin-right: auto;
  display: block;
  clear: both;
}

.centered {
  text-align: center
}

.mt {
  margin-top: 50px;
}

.mb {
  margin-bottom: 50px;
}

.mtb {
  margin-top: 50px;
  margin-bottom: 50px;
}

.clear {
  clear: both;
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  width: 100%;
}
.social_buttons a {
  width: 23px;
  height: 23px;
  margin-top: 8px;
  font-size: 15px;
  display: inline-block;
  text-align: center;
  margin-left: 0;
  line-height: 23px;
  color: #4e2e2e;
}
::-moz-selection {
  color: #fff;
  text-shadow: none;
  background: #2B2E31;
}

::selection {
  color: #fff;
  text-shadow: none;
  background: #2B2E31;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  padding: 0;
  margin: 0;
  text-decoration: none;
  -webkit-transition: background-color .4s linear, color .4s linear;
  -moz-transition: background-color .4s linear, color .4s linear;
  -o-transition: background-color .4s linear, color .4s linear;
  -ms-transition: background-color .4s linear, color .4s linear;
  transition: background-color .4s linear, color .4s linear;
}

a:hover, a:focus {
  text-decoration: none;
  color: #696E74;
}

/* Bootstrap Modifications */

.navbar-inverse {
  background-color: transparent;
  border-color: transparent;
}

/* BUtton Configuration */

.btn-green {
  border-radius: 60px;
  color: #fff;
  background:#eea2a2;
  transition: 0.3s;
  padding: 14px 40px;
}

.btn-green:hover {
  color: #fff;
  background: #ff7878;
}

.btn-blue {
  border: 4px solid #0f3450;
  border-radius: 60px;
  color: #fff;
  background: #0f3450;
  transition: 0.3s;
  padding: 14px 40px;
}

.btn-blue:hover {
  background: #184160;
  color: #fff;
}

.btn-lg {
  margin-right: 10px;
}

/* Button used in the footer - contact form */

.btn-green2 {
  color: #fff;
  font-size: 18px;
  min-height: 60px;
  border-radius: 40px;
  text-decoration: none;
  display: inline-block;
  line-height: 24px;
  padding: 16px 30px 20px;
  z-index: 1;
  position: relative;
  border: none;
  background: #1da083;
  transition: 0.3s;
}

.btn-green2:hover {
  background: #21b191;
  color: white;
}

/* Header Gradient */

#is {
  top: 0;
  width: 100%;
  min-height: 650px;
  position: relative;
  z-index: 1;
  color: #fff;
  padding-top: 10%;
  background-image: linear-gradient(#1da083, #0f3450);
}

#is h1 {
  color: white;
  text-transform: uppercase;
  font-size: 40px;
  margin-bottom: 40px;
  padding-top: 60px;
}

* {
  margin: 0;
  padding: 0px;
  font-family: 'Roboto Slab', Arial, sans-serif;
}

#is p {
  color: white;
  font-size: 20px
}

/* Font Icons Styling for White Sections */

.icons-white-bg i {
  font-size: 30px;
}

/* Grey Section */

#gs {
  background-color: #f2f2f2;
  padding-top: 40px;
  padding-bottom: 40px;
}

/* Mint Section */

#mint {
  background: url(../img/mint.jpg) no-repeat center top;
  padding-top: 50px;
  text-align: center;
  background-attachment: relative;
  background-position: center center;
  min-height: 400px;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.w {
  padding-top: 35px;
}

.w h4 {
  font-weight: 700;
}

.w i {
  color: #555555;
  font-size: 30px;
}

.wb {
  padding-top: 35px;
  margin-bottom: 0px;
}

.wb h4 {
  font-weight: 700;
}

#mint h4 {
  font-weight: 300;
  color: white;
}

/* Footer Section */

#f {
  background: url(../img/footer.jpg) no-repeat center top;
  padding-top: 50px;
  text-align: center;
  background-attachment: relative;
  background-position: center center;
  min-height: 600px;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#f h2 {
  color: white
}

#f h5 {
  color: white;
  text-transform: uppercase;
  font-weight: 400;
}

#f input {
  font-size: 18px;
  min-height: 60px;
  border-radius: 40px;
  line-height: 24px;
  padding: 16px 30px 20px;
  border: none;
  margin-bottom: 10px;
  background-color: #e9f0f2;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

#f .subscribe-input {
  float: left;
  width: 95%;
  text-align: left;
}

#f .subscribe-submit {
  position: absolute;
  right: 0;
  padding-left: 28px;
}

#f .social-icons {
  margin-top: 40px;
}

#f .social-icons i {
  font-size: 25px;
  margin-right: 20px;
}

#f .social-icons a {
  color: white;
}

#f .social-icons a:hover {
  color: #ccc;
}


/* Contact Form */

.contact-form {
  padding: 30px 0;
}

.contact-form h2 {
   margin-bottom: 20px;
}

.contact-form input, .contact-form textarea {
  padding: 10px 12px;
  border-radius: 0 !important;
  box-shadow: none;
  font-size: 14px;
  height: auto;
}

.contact-form .form-send {
  text-align: center;
}

.contact-form .form-send button  {
  background: #1da083;
  border: 0;
  padding: 14px 40px;
  color: #fff;
  transition: 0.4s;
  cursor: pointer;
  border-radius: 40px;
  font-size: 18px;
}

.contact-form .form-send button:hover {
  background: #21b191;
}

.contact-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact-form .loading {
  display: none;
  color: #555;
  background: #fff;
  text-align: center;
  padding: 15px;
  margin: 15px 0;
}

.contact-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

@-webkit-keyframes animate-loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
#dg {
  background: #e0e0e0;
  padding-top: 70px;
  padding-bottom: 70px;
  text-align: center;
}

#dg h4 {
  font-weight: 700;
}

.contact-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin: 15px 0;
}
.btn-primary {
  border-color: #ff7878;
  border-radius: 0;
  text-transform: uppercase;
  font-weight: 700;
  color: #333;
  background-color: transparent;
  padding: 15px 0px;
  letter-spacing: 1px;
  border: none;
  border-bottom: 3px solid;
  font-size: 13px;
}
.contact-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin: 15px 0;
}

/* Copyrights */

#copyrights {
  background-color: #2d2d2d;
  padding: 30px 0;
  text-align: center;
}

#copyrights p {
  margin-bottom: 5px;
  color: #fff;
  text-align: center;
  align-items: center;
  align-self: auto;
}

#copyrights a {
  color: #fff;
}

@media (max-width: 768px) {
  .notfound {
    background: none;
  }
  .notfound .small-title {
    width: 100%;
  }
  .callus, .search-bar, .post-wrapper-top, .title-area, .social_buttons {
    float: none !important;
    clear: both !important;
    display: block !important;
    text-align: center !important;
  }
}

@media only screen and (min-width: 40.063em) {
  button, .button {
    display: inline-block;
  }
}

@media(max-width: 768px) {
  body {
      padding: 0;
  }
}


.blog-item .post-title,
.project-item .post-title {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 22px;
    letter-spacing: 4px;
}

.meta-item {
    font-size: 12px;
    margin-right: 20px;
    font-weight: 300;
}

.meta-item.post-date {
    clear: left;
    display: block;
}

.item-metas .meta-item:last-of-type {
    margin-right: 0px;
}

.meta-item span {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}

.post-date .the-date {
    font-size: 48px;
    line-height: 60px;
    font-weight: 300;
}

.post-date .the-month {
    text-transform: uppercase;
}

.single-post-content p {
    margin-bottom: 45px;
}


.hover-item {
  position: relative;
  overflow: hidden
}

.hover-item img {
  -moz-transform: scale(1.0);
  -webkit-transform: scale(1.0);
  -o-transform: scale(1.0);
  -ms-transform: scale(1.0);
  transform: scale(1.0)
}

.overlay-item-caption {
  opacity: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  text-align: center;
  text-shadow: 0 0 1px #000;
}

.hover-item-caption {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0px;
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
  z-index: 2;
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.hover-item-caption:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% - 30px);
  width: calc(100% - 30px);
  margin: 15px;
  -webkit-box-shadow: inset 0 0 0 1px #000000;
  box-shadow: inset 0 0 0 1px #000000;
  opacity: 0.5;
}

.hover-item:hover .hover-item-caption {
  opacity: 1;
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hover-item-caption h3,
.hover-item-caption .smoothie {
  top: 0px;
  position: relative;
}

.hover-item-caption h3 {
  padding: 0 20px;
}

.hover-item:hover .hover-item-caption h3,
.hover-item:hover .smoothie {
  top: 0px;
}

.hover-item:hover .overlay-item-caption {
  opacity: 0;
  top: 0px;
}

.hover-item:hover .overlay-item-caption .vertical-center {
  opacity: 0;
}

.hover-item-caption a.btn,
.overlay-item-caption a.btn {
  margin: 0 15px;
  z-index: 10;
}

.hover-item:hover img {
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2)
}

.hover-item-caption h3,
.overlay-item-caption h3 {
  margin: 14px 0 26px;
  color: #fefefe;
  font-weight: 400;
  font-size: 22px;
  letter-spacing: 6px;
}

.overlay-item-caption strong {
  color: #fefefe;
  padding-bottom: 16px;
  font-weight: 400;
  text-transform: uppercase;
  display: block;
  letter-spacing: 4px;
}

.overlay-item-caption .thin-hr:after,
.dark-wrapper .thin-hr:after {
  background-color: #fff;
}

.overlay-item-caption .post-excerpt {
  font-style: italic;
  color: #fefefe;
  padding-top: 16px;
  font-size: 16px;
  padding-left: 15%;
  padding-right: 15%;
}

.hover-item-caption h3 span,
.overlay-item-caption h3 span,
.hover-item-caption h2 span {
  clear: both;
  display: block;
  text-transform: none;
  font-size: 20px;
  color: #fefefe;
}

.hover-item-caption h2 span {
  display: inline-block;
}

.hover-item-caption a,
.overlay-item-caption a {
  color: #222;
}

.vertical-align-bottom {
  bottom: 20px;
  left: 20px;
  position: absolute;
}

.slide-caption {
  background-color: rgba(255, 255, 255, 0.8);
  color: #fff;
  padding: 20px 25px;
}

.slide-caption p {
  text-shadow: none;
  color: #444;
}

.post-slide .hover-item-caption {
  background-color: transparent;
}

.post-slide .hover-item-caption:after {
  display: none;
}

.social-profile {
	padding: 20px 15px 15px;
}

.author-social .social-profile {
	padding: 5px 15px 7px;
}

.social-profile a {
	color:#f3f3f3;
	font-size:28px
}

.social-profile i {
	-moz-transform: scale(1.0);
	-webkit-transform: scale(1.0);
	-o-transform: scale(1.0);
	-ms-transform: scale(1.0);
	transform: scale(1.0);
    -webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.social-profile:hover i {
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-o-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);	
    -webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.lin-bg {
	background-color:#55acee
}

.twitter-bg:hover {
	background-color:#178ee8
}

.facebook-bg {
	background-color:#3b5998
}

.facebook-bg:hover {
	background-color:#283c67
}

.gplus-bg {
	background-color:#dd4b39
}

.gplus-bg:hover {
	background-color:#b32f1f
}

.dribbble-bg {
	background-color:#ea4c89
}

.dribbble-bg:hover {
	background-color:#d91963
}

.dmtop {
  background-image: url('../img/arrow.png');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  z-index: 9999;
  width: 40px;
  height: 40px;
  text-indent: -99999px;
  position: fixed;
  bottom: -100px;
  right: 25px;
  cursor: pointer;
  -webkit-transition: all .7s ease-in-out;
  -moz-transition: all .7s ease-in-out;
  -o-transition: all .7s ease-in-out;
  -ms-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;
  overflow: auto;
}

.dmtop:hover {
  background-color: #3E4246;
}

#myFooter {
	background-color: #373a48;
	color:white;
}

#myFooter .footer-copyright{
	background-color: #373a48;
	padding-top:3px;
	padding-bottom:3px;
	text-align: center;
}

#myFooter .footer-copyright p{
	margin:10px;
	color: #ccc;
}

#myFooter ul{
	list-style-type: none;
    padding-left: 0;
    line-height: 1.7;

}

#myFooter h5{
	font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter a{
	color:#d2d1d1;
	text-decoration: none;
}

#myFooter a:hover, #myFooter a:focus{
	text-decoration: none;
	color:white;
}

#myFooter .myCols{
	text-align: center;
}

#myFooter .social-networks{
	text-align: center;
	padding-top: 30px;
	padding-bottom: 38px;
}

#myFooter .social-networks a{
    font-size: 32px;
    margin-right: 5px;
    margin-left: 5px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}

#myFooter .social-networks a:hover{
	text-decoration: none;

}

#myFooter .facebook:hover{
	color:#0077e2;
}

#myFooter .google:hover{
	color:#ef1a1a;
}

#myFooter .twitter:hover{
	color: #00aced;
}

@media screen and (max-width: 767px){
	#myFooter {
		text-align: center;
	}
}

.content{
	flex: 1 0 auto;
	-webkit-flex: 1 0 auto;
	min-height: 200px;
}

#myFooter{
	flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
}


.progress-title{
    font-size: 15px;
    font-weight: 800;
    letter-spacing: 1.1px;
    color: #5c2528;
    text-transform: uppercase;
    margin: 10px 1px 5px;
}
.progress{
    height: 6px;
    background: black;
    border-radius: 30;
    box-shadow: black;
    margin-bottom: 40px;
    overflow: visible;
    position: relative;
}
.progress .progress-bar{
    position: relative;
    -webkit-animation: animate-positive 2s;
    animation: animate-positive 2s;
}
.progress .progress-bar:after{
    content:"\f041";
    font-family: 'FontAwesome';
    position: absolute;
    top:-20px;
    right: -7px;
    font-size: 25px;
    font-weight: 700;
    color: #D5D6E2;
}
.progress .progress-value{
    display: block;
    font-size: 12px;
    color: rgb(93, 93, 94);
    position: absolute;
    top: -23px;
    right: 0;
}
@keyframes animate-positive{
    0%{width: 0%;}
}
@-webkit-keyframes animate-positive{
    0%{width:0%;}
}

@media screen and (max-width:576px ){
    h1{
        font-size: 20px;
    }
    .progress-title{
        font-size:15px; 
    }
    .container{
        width: 90%;
        margin: 0 auto;
    }
}